{% extends 'public/base.html.twig' %}

{% block title %}

    Accueil | Saveurs Épiques

{% endblock %}

{% block body %}

    <!-- Titre principal -->
    <main>
        <section>
            <h1>Saveurs Épiques</h1>


        <!-- Sous-texte -->
            <p>
                Découvrez des recettes uniques tirées de vos œuvres de
                <span class="highlight">pop culture</span> préférées, et reproduisez les plats emblématiques de vos héros dans votre propre cuisine !
            </p>
        </section>
    </main>

{% endblock %}